.dummy-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 1.5rem 6rem; /* reduced size */
    border-radius: 1.5rem;
    background: linear-gradient(to bottom right, #aad9ff, #005ab9);
    width: 80%;
    
  }
  
  .card-box {
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .card-box:hover {
    background-color: white;
    color: #000;
  }
  
  .card-img {
    width: 5rem; /* slightly larger image */
    margin-bottom: 0.8rem;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  
  .card-label {
    font-size: 1rem;
  }
  
  /* For screens ≤ 1028px: 2 columns */
  @media screen and (max-width: 1028px) {
    .dummy-container {
      grid-template-columns: repeat(2, 1fr);
      margin: 0rem 1rem;
      margin-top: -3rem;

      scale:0.8;
      margin-bottom: -3rem;
    }
  }
  
  /* For screens ≤ 600px: 1 column */
  @media screen and (max-width: 600px) {
    .dummy-container {
      grid-template-columns: 1fr;
      margin-top: -10rem;
      padding: 1rem;
      scale:0.7;
      margin-bottom: -10rem;


    }
  }
  